<html lang="en">
    <head>
        <title>Index</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles.css" >
    </head>
    <body>
    <div class = "container" >
        <div class = "user">
            <img class = 'user_img' src={{avatar}}/>
            <div class = "info">        
                <div class = 'user_fullname'>{{name}}</div>
                <div class = 'user_location'>{{#address}} {{city}}, {{country}} {{/address}} | 
                    {{#job}}
                        {{job}}, {{company}}
                        {{/job}}
                        {{^job}}
                        <font color='darkred'>Available for Hire</font>
                    {{/job}}
                        <div>{{  }}</div> 
                    <div class = 'user_contact'>{{email}} | {{phone}}  </div>
                </div>
            </div>
            </div>
        <div class = "ed_skills">
            <div class = 'ed'>{{#university}}<h5>Education </h5>{{university}}{{/university}}</div>
            <div class = 'skills'>
                <h5>Skills</h5><ul>{{#skills}}<li>{{.}}</li>{{/skills}}</ul></div>
        </div>
    
    </div>
    </body>
</html>